SUPABASE_URL=https://wveupnrrvpoxoduhiitt.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2ZXVwbnJydnBveG9kdWhpaXR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxNDc2MjEsImV4cCI6MjA5NzcyMzYyMX0.Uk6fH6NYksty8pgTb_lWcpw-6JcD9tq54tH5h-M5Mps
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
JWT_SECRET=your_jwt_secret_here
CLIENT_ORIGIN=http://localhost:5174
PORT=5000
